<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<img src="" id="myimage">


<script>
    let uint8View = new Uint8Array([<%= image %>]);
    var imageUrl = window.URL.createObjectURL(new Blob([uint8View], {type: "application/zip"}))
    document.getElementById("myimage").src = imageUrl;
</script>
</body>

</html>